@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll on body */
}

/* Hide scrollbar but keep functionality */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth; /* Ensure smooth scrolling is maintained */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
  width: 0; /* Ensure width is 0 */
  height: 0; /* Ensure height is 0 */
}
